@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: .01em;
	color: #000;
}

.contact-form__container {
    width: calc(100% - 20vw);
    margin: 0 auto;
}

.contact-form__content {
	text-align: center;
}

h2 {
	font-weight: 200;
	font-size: 56px;
	line-height: 80px;
	letter-spacing: -0.015em;
    text-transform: capitalize;
    margin: 0;
}

.border-none {
    border: none!important;
}

.margin-none {
    margin: 0!important;
}

.margin-topandbottom {
    margin: 25px 0px!important;
}

.margin-bottom {
    margin-bottom: 50px!important;
}

.hide {
    display: none!important;
}

.contact-form__form-container {
    max-width: 500px;
    margin: 0 auto;
}

.form_fields {
    padding: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: left;
}

.field {
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

.field_label {
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.input_container {
    background: #fff;
    color: grey;
    width: 100%;
    border: 1px solid grey;
    border-radius: 0;
    margin-top: 11px;
}

.input_container input, .input_container select {
    width: 100%;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: grey;
    padding: 0 10px;
    height: 40px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    position: relative;
}

/* Checkboxes */
.input_container_checkbox input[type=checkbox] {
    display: none;
}

.input_container_checkbox label {
    font-family: Roboto,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: .01em;
    color: #000;
    height: auto;
}

.input_container_checkbox label {
    padding-left: 33px;
    position: relative;
    display: block;
    color: grey;
}

.input_container_checkbox label:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    height: 22px;
    width: 22px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.input_container_checkbox label:after {
    position: absolute;
    top: 2.992px;
    left: 7.92px;
    width: 5.94px;
    height: 12.98px;
    border-bottom: 1.98px solid #fff;
    border-right: 1.98px solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input_container_checkbox input[type=checkbox]:checked+label:before {
    background-color: #0085ca;
    color: #fff;
}

.input_container_checkbox input[type=checkbox]:checked+label:after {
    content: "";
}

.input_container_checkbox label:after, .input_container_checkbox label:before {
    margin-top: 4px;
}

/* Radio buttons */
.input_container_radio .field_radio {
    display: -webkit-box;
    display: flex;
}

.input_container_radio li {
    list-style-type: none;
    margin-bottom: 12px;
    margin-right: 20px;
    white-space: nowrap;
}

.input_container_radio li input[type=radio] {
    display: none;
}

.input_container_radio li label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-family: Roboto,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: .01em;
    color: #000;
}

.input_container_radio li label:before {
    content: "";
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 2px;
    left: 0;
}

.input_container_radio li label:after {
    content: "";
    top: 13px;
    left: 11px;
    height: 11px;
    width: 11px;
    position: absolute;
    background-color: #0085ca;
    border-radius: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 0;
}

.input_container_radio li input[type=radio]:checked+label:after {
    opacity: 1;
}

/* Submit button */
.input_container_submit {
    width: 100%;
    text-align: center;
}

input[type=submit] {
    line-height: 40px;
    border: 0;
    border-radius: 40px;
    font-size: 17px;
    letter-spacing: -0.015em;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(31,165,222,1) 0%, rgba(119,100,239,1) 100%);
    padding: 0 31px;
    width: 130px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}

#form_fields_five {
    margin: 0;
}

#datepicker {
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 600px) {
    h2 {
        margin: 32px 0;
    }

    .field-short {
        width: 48%;
    }
}